<!DOCTYPE html>
<html>
<head>
    <title>Google Login Test</title>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>

<div
    id="g_id_onload"
    data-client_id="{{ GOOGLE_CLIENT_ID }}"
    data-callback="handleCredentialResponse">
</div>

<div class="g_id_signin"></div>

<script>
function handleCredentialResponse(response) {

    fetch("/api/v1/accounts/google-login/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            id_token: response.credential
        })
    })
    .then(res => res.json())
    .then(data => {
        console.log(data);
    })
    .catch(err => {
        console.error(err);
    });

}
</script>

</body>
</html>