# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Testing
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Build
dist/
build/
*.egg-info/